<article>
  <div>
    <button (click)= 'botaoClicado()' class='btn btn-primary'>Me clique</button>
  </div>

  <br><br>

  <input type="text">

</article>










<div>
  Seleciona uma classe
  <select #class (change)="0" >
      <option value="alert-success"> Sucesso </option>
      <option value="alert-danger"> erro </option>
      <option value="alert-info"> info </option>
      <option value="alert-warning"> alerta </option>
  </select>
  
  <br> <br>
  
  <div class="alert " role="alert" [class.alert-success] = "class.value == 'alert-success'"
  
  >S</div>

  <div class="alert " role="alert">W</div>
  <div class="alert " role="alert">erro</div>
  <div class="alert " role="alert">info</div>
</div>