
<html ng-app="funkFy">
<head>
	<link rel="stylesheet" type="text/css" href="C:\Users\Documentos\Desktop\Aprendendo angular\AULA 2- Lista telefonica\lib\BootStrap\bootstrap.css">
	<title>FunkFy</title>


<style>
		.jumbotron{
			width: 600px;
			text-align: left;
			margin-top: 5px;
			margin-left: auto;
			margin-right: auto;
		}
		.jumbotron {
			width: 600px;
			text-align: right;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
			box-sizing: 5px;
		}
		
		.negrito {
			font-weight: bold;
		}

		.fonte{
			font-weight: bold;
			text-align: center;
			
		}
	</style>


	<script src="C:\Users\Documentos\Desktop\Aprendendo angular\AULA 2- Lista telefonica\lib\Angular\angular.js"></script>


	<script>
		angular.module("funkFy",[]);
		angular.module("funkFy").controller("funkFyController",function($scope) {  
			$scope.musicas =[{nome: "Cheguei", artista:"ludmila", isExplicit: {string:"YES",value:true}, miningLevel: 5}, {nome: "Hoje", artista:"ludmila", isExplicit: {string:"YES",value:true}, miningLevel: 5}, {nome: "A danada sou eu", artista:"ludmila",isExplicit: {string:"YES",value:true}, miningLevel: 5},
			];

		$scope.adicionarMusica = function(musica){
			$scope.musicas.push(angular.copy(musica));
			delete $scope.musica;
		};

		$scope.isExplicit = function(musica){
			if (musica.isExplicit.value == true) {return true} else {return false};
		}

		$scope.showExplicit = function(){
				aux = [];
				for (var i = musicas.length - 1; i >= 0; i--) {
					if(musica[i].isExplicit){
						aux.push(musica[i]);
					}				
				}
				$scope.musicas = aux;
		}

		$scope.explcitOptions = [{string:"YES",value:true},{string:"NO", value:false}];




		});



	</script>



</head>
<body ng-controller = "funkFyController">
	<div >
	<input class="form-control" type="text" ng-model="musica.nome" placeholder="Nome">
	<input class="form-control" type="tesxt" ng-model="musica.artista" placeholder="Artista">
	<input class="form-control" type="text" ng-model="musica.miningLevel" placeholder="Nivel de mineracao">
	<select class="form-control" ng-model="musica.isExplicit" ng-options="option.string for option in explcitOptions"> 
		<option value="">Is Explicit?</option>
	</select>
	


	<button class="btn btn-primary btn-block" ng-click="adicionarMusica(musica)" ng-disabled="!musica.nome || !musica.artista || !musica.miningLevel"> Adicionar musica</button>
	



	mostrar musicas explicitas TO DO
	<input type="checkbox" ng-model="musica.explicitMusics">
	</div>
	<div class="jumbotron">
		<h1 class="fonte">Seus Pankadões</h1>
	<table class="table">
			<tr>
	
				<th>Nome</th>
				<th>Artista</th>
				<th>Nivel de Mineracao</th>
				
			</tr>
			<tr ng-repeat="musica in musicas">
				<td>{{musica.nome}}</td>
				<td>{{musica.artista}}</td>
				<td>{{musica.miningLevel}}</td>
			</tr>
		</table>

	</div>

	</div>

</body>
</html>